<div id="map_canvas"></div>
<div id="search-menu">    
  <form>
    <a href="/" id="sdhangouts">SDhangouts</a>
    <select id="neighborhood">
      <option value="search-sd" selected>Select a neighborhood</option>      
      <option value="bankers_hill">Bankers Hill</option>
      <option value="coronado">Coronado</option>
      <option value="del_mar">Del Mar</option>
      <option value="gaslamp">Gaslamp/Downtown</option>
      <option value="golden_hill">Golden Hill</option>
      <option value="hillcrest">Hillcrest</option>
      <option value="kearny_mesa">Kearny Mesa</option>
      <option value="kensington">Kensington</option>
      <option value="la_jolla">La Jolla</option>
      <option value="little_italy">Little Italy</option>
      <option value="mission_beach">Mission Beach</option>
      <option value="mission_hills">Mission Hills</option>
      <option value="mission_valley">Mission Valley</option>
      <option value="normal_heights">Normal Heights</option>
      <option value="north_park">North Park</option>
      <option value="ocean_beach">Ocean Beach</option>
      <option value="old_town">Old Town</option>
      <option value="pacific_beach">Pacific Beach</option>
      <option value="point_loma">Point Loma</option>
      <option value="solana_beach">Solana Beach</option>
      <option value="south_park">South Park</option>
      <option value="university_heights">University Heights</option>
    </select>
    <select id="hangout">
      <option value="search-for" selected>and search for...</option>
      <option value="cafe">Cafes</option>
      <option value="bar">Bars</option>
      <option value="night_club">Nightclubs</option>
      <optgroup id="restaurant" label="Restaurants">
        <option value="american">American</option>
        <option value="brazilian">Brazilian</option>
        <option value="burgers">Burgers</option>
        <option value="carribean">Carribean</option>
        <option value="chinese">Chinese</option>
        <option value="cuban">Cuban</option>
        <option value="diners">Diners</option>
        <option value="french">French</option>
        <option value="german">German</option>
        <option value="greek">Greek</option>
        <option value="indian">Indian</option>
        <option value="italian">Italian</option>
        <option value="japanese">Japanese</option>
        <option value="korean">Korean</option>
        <option value="malaysian">Malaysian</option>
        <option value="mediterranean">Mediterranean</option>
        <option value="mexican">Mexican</option>
        <option value="middle_eastern">Middle Eastern</option>
        <option value="pizza">Pizza</option>
        <option value="russian">Russian</option>
        <option value="seafood">Seafood</option>
        <option value="soul_food">Soul Food</option>
        <option value="soup">Soup</option>
        <option value="spanish">Spanish</option>
        <option value="steak">Steakhouses</option>
        <option value="sushi">Sushi</option>
        <option value="thai">Thai</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vietnamese">Vietnamese</option>
      </optgroup>
    </select>
  </form>
  <span class="error-msg area">Select a neighborhood</span>
  <span class="error-msg venue">Select a venue</span>
</div>